@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Book Tracking Application</p>
    <img src="https://th.bing.com/th/id/OIP.ffpEjmruHin3ChUHyqRZRAHaEK?pid=ImgDet&rs=1" />
</div>
